*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .footer{
    margin-top: -80px;
    width: 100%;
    background: #333;
    color:white;
    padding: 100px 15%;
    position: fixed;
    bottom:0px;
}
.footer2{
    margin-top: -10px;
    width: 100%;
    background: #333;
    color:white;
    padding: 100px 15%;
   
}
.footer3{
    margin-top: 15px;
    width: 100%;
    background: #333;
    color:white;
    padding: 100px 15%;
    position: fixed;
    bottom:0px;
}
.text{
    text-align: center;
    color:white;
    margin: auto;
    padding:400px 15%;
    font-size: 40px;
    font-family: Poppins;
}

  .container .box{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   transition: 2s;
  }
  .container{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
    margin-top: 20px;
  }
  .container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
    
  }
  
  .container .box .dream img{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px 5px 5px 5px;
  }
  .dream img:hover{
    transform: scale(1.04);
    z-index:2;
  }

  .container1 {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  .image-container1 {
    margin-bottom: 10px;
    margin-top: 15px;
  }
  
  .details-container {
    text-align: center;
  }
  
  .price {
    font-size: 50px;
    font-weight: bold;
  }
  
  .btn {
    background-color: #f34c68;
    border: 5px solid #ea1538;
    color: #ea1538;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px; 
    transition: 0.3s;
  }
  .btn:hover{
    background-color: #ea1538;
    color: white;
  }


/* Styling for the navigation bar links */
.header{
    height: 100vh;
    width: 100vw;
    font-family: Poppins;
}
.navbar {
    position: absolute;
    padding: 50px;
    display:flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    font-family: Poppins;
}

.navbar a {
    color: white;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color:#ea1538;
}

.navbar .nav-links{
    display:flex;
    align-items: center;
}
.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 25px;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}
.navbar .nav-links ul li a{
    text-decoration: none;
}


.navbar .nav-links ul li a:hover{
    color:#ea1538;
    transition: .3s;
}
.contant-box{
    width:500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
form{
    margin: 35px;
    display:flex;
    flex-direction: column;
}
.input-field{
    width: 400px;
    height:40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline:none;
}

.messagefield{
    height: 150px;
    padding-top: 10px;
}


  